*{
    font-family: montserrat;
    box-sizing: border-box;
    height: 10vh;
    background-color:#242B2E;
    color: #fff;
}
h1{
    text-align: center;
}
.todo-form{
    display: flex;
    justify-content: center;
}
section{
    background-color: #81b821;
    display: flex;
    justify-content: center;
}